@font-face {
    font-family: 'Norse';
    src: url('fonts/Norse-Bold.woff2') format('woff2'),
        url('fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

html {
    height: 100%;
}

body {
    display: flex;
    height: 100vh;
}

.first-half {
    width: calc(1200px - 1vw);
    background: url('img/ocean.jpg') no-repeat fixed center / cover;
}

.first-half div:nth-of-type(1) {
    height: 25%;
}

.first-half div:nth-of-type(2) {
    height: 25%;
    display: flex;
}

.first-half div:nth-of-type(3) {
    height: 50%;
}